{
  "env": {
    "production": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "@babel/plugin-transform-regenerator"
      ]
    },
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "@babel/plugin-transform-regenerator",
        "istanbul"
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-transform-regenerator",
        "transform-object-rest-spread"
      ]
    }
  }
}
