{
  "extends": "stylelint-config-sass-guidelines",
  "ignoreFiles": [
    "./assets/scss/_mixins/*",
    "./assets/scss/_config/*",
    "./assets/scss/_helpers/*",
    "./assets/scss/bloc.scss",
    "./assets/scss/_components/_react-dates.scss"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "order/order": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": [
          "attribute",
          "class"
        ]
      }
    ]
  }
}
