html
  head
    title="Bloc"
    link(rel="stylesheet", type="text/css", href="/assets/dist/bloc.min.css")
    link(rel="icon" type="image/png" href="/assets/img/icons/favicon.png")

  body
    script(src="./assets/dist/bloc.min.js", type="text/javascript")
